{{> head}}

{{> navbar}}

<div class="row">
    
    <div class="col-8">
        <h1>Lambogini</h1>
        <p>
            Lorem ipsum es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías o de borradores de diseño para probar el diseño visual antes de insertar el texto final
        </p>
    </div>

    <div class="col-4">
        <img src="../assets/img/laborghini.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}